.avatar{
    border-radius: 50%;
    border:1px solid;
    height:200px;
    width:200px;
    background-size:cover;
    vertical-align: middle;
    margin: auto;
    /* box-shadow: 2px 2px 0.25px; */
}

